body {
    background-color: #d9f2d9;
}
.card {
    border-color: black;
    border-width: 3px;
    cursor: pointer;
    background-color: bisque;
    margin: 20px;
}
h1 {
    text-align: center
}
h6 {
    text-align: center
}
h5 {
    text-align: center;
}
p{
    display: none;
}


